:root{
    /* Colors */
    --accent: #71aff8;
    --accent-secondary: #7a71f8;
    --background: #1f2428;
    --background-secondary: #24292e;
    --background-tertiary: #0000008a;
    --text: #e0e2e5;
    --text-secondary: #91aff8;
    --text-tertiary: #ab71f8;
    --text-dimmed: #6a7370;
    
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--text-dimmed) var(--background-secondary);
}

/* Scrollbar for other browsers */
:root::-webkit-scrollbar {
    width: 8px;
}

:root::-webkit-scrollbar-track {
    background-color: var(--background-secondary);
}

:root::-webkit-scrollbar-thumb {
    background-color: var(--text-dimmed);
}

/* To make sizing easier */
* {box-sizing: border-box;}

body {
    margin: 0 0 50px 0; /* top right bottom left */
    background-color: var(--background);
    color: var(--text);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: var(--background-tertiary);
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    -webkit-backdrop-filter: blur(5px) brightness(85%);
    backdrop-filter: blur(5px) brightness(85%);
    box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.4);
}

nav > ul {
    margin: 0;
    list-style-type: none;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    padding: 0px 15px 0px 15px; /*top right bottom left*/
    width: 130px;
}

nav > ul > li > a {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
    padding: 0px 20px 0px 20px; /*top right bottom left*/
<<<<<<< HEAD
<<<<<<< Updated upstream
    transition: color 0.3s ease-out;
=======
    transition: color 0.5s ease-in-out 0.2s;
=======
    transition: color 0.7s ease-in-out;
>>>>>>> 5e7b263fc06ae3ba82605aa7b0031b3d7b74f5b8
}

nav > ul > li:hover > a {
    color: var(--text-secondary);
<<<<<<< HEAD
>>>>>>> Stashed changes
}

nav > ul > li:hover > a.current-link {
    color: var(--text-tertiary);
=======
>>>>>>> 5e7b263fc06ae3ba82605aa7b0031b3d7b74f5b8
}

div.nav-underline, div.nav-underlined {
    width: 0px;
    margin: -4px auto 0 auto; /*top right bottom left*/
    text-align: center;
    height: 4px;
    background-color: var(--accent);
    transition: width 0.3s ease-out;
}

div.nav-underlined {
    background-color: var(--accent-secondary);
    width: 75px;
}

nav > ul > li:hover > div.nav-underline {
    width: 75px;
}

<<<<<<< HEAD
<<<<<<< Updated upstream
nav > ul > li:hover > a {
    color: var(--text-secondary);
=======
nav > ul > li:hover > div.nav-underlined {
    width: 0;
>>>>>>> Stashed changes
}

=======
>>>>>>> 5e7b263fc06ae3ba82605aa7b0031b3d7b74f5b8
article {
    background-color: var(--background-secondary);
    margin: 50px 80px 50px 80px; /* top right bottom left */
    padding: 20px 40px 20px 40px; /* top right bottom left */
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    color: var(--text);
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
}

h2 {
    color: var(--text-secondary);
}

p {
    line-height: 150%;
}

p.subtitle {
    color: var(--text-dimmed);
    font-size: 20px;
    text-align: center;
}

p.dimmed {
    color: var(--text-dimmed)
<<<<<<< HEAD
<<<<<<< Updated upstream
}
=======
=======
>>>>>>> 5e7b263fc06ae3ba82605aa7b0031b3d7b74f5b8
}

div.blog-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

article.blog-post {
    overflow: auto;
<<<<<<< HEAD
    flex-basis: 325px;
=======
    flex-basis: 300px;
>>>>>>> 5e7b263fc06ae3ba82605aa7b0031b3d7b74f5b8
    height: 200px;
    margin: 50px 20px 50px 20px; /* top right bottom left */
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--text-dimmed) var(--background-secondary);
}

/* Scrollbar for other browsers */
article.blog-post::-webkit-scrollbar {
    width: 8px;
}

article.blog-post::-webkit-scrollbar-track {
    background-color: var(--background-secondary);
}

article.blog-post::-webkit-scrollbar-thumb {
    background-color: var(--text-dimmed);
}
<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> 5e7b263fc06ae3ba82605aa7b0031b3d7b74f5b8
